# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
rails/tripping/db/*.sqlite3
rails/tripping/db/*.sqlite3-journal

# Ignore all tempfiles.
!/log/.keep
rails/tripping/tmp
*.keep
.idea
node_modules
**/*.css
**/.DS_Store
