// ---------------------------------------------------------------
// libs imported here
// ---------------------------------------------------------------
@import "../../../node_modules/font-awesome/scss/font-awesome";

// ---------------------------------------------------------------
// individual components imported here
// ---------------------------------------------------------------
@import "components/base";

@import "components/button";
@import "components/checkbox";
@import "components/grid";
@import "components/input";

// ---------------------------------------------------------------
// individual modules imported here
// ---------------------------------------------------------------

// ---------------------------------------------------------------
// anything which doesn't fit into components can be written below
// ---------------------------------------------------------------

body{
  background: #e0e0e0;
  padding: 20px;
}

header h1 {
  float: left;
}

header #create-list {
  padding: 10px 20px;
  color: #fff;
  background: #FF7913;
  margin: 21.400px;
  font-size: 16px;
  border: 1px solid transparent;
}

section {
  position: relative;
  width: 300px;
  min-height: 350px;
  float: left;
  margin: 0px 20px 20px 0px;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  background: #fff;
}

section header {
  font-size: 16px;
  padding: 10px;
  background: #FF7913;
  color: #fff;
}

section .todo-task-wrapper:last-child {
  margin-bottom: 35px;
}

input[type='checkbox'] {
  float: left;
  margin-right: 10px;
}

li {
  list-style: none;
  width: 89%;
  float: left;
  font-size: 16px;
}

.edit-btn {
  float: right;
  position: absolute;
  top: 9px;
  right: 9px;
  border: none;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
}

.edit-btn::before{
  font-family: fontAwesome;
}

.edit-btn:focus {
  outline: none;
}

.completed {
  text-decoration: line-through;
  color: #c4c4c4;
}

.delete-btn {
  display: none;
}

.delete-task-btn {
  float: left;
  width: 15px;
  height: 15px;
  color: red;
  display: block;
  margin-left: -20px;
  visibility: hidden;
}

.container .new-todo {
  padding: 10px 10px 10px 30px;
  margin-left: -21px;
  border-bottom: 1px solid #e0e0e0;
}

.bottom-btn {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: auto;
  padding: 10px 0px 5px;
  background: #fff;
  left: 0;
  border: none;
  color: #f07119;
  font-size: 14px;
}

.bottom-btn:focus {
  outline: none;
}

.todo-task-wrapper input[type='checkbox'] {
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

.todo-task-wrapper {
  margin: 10px 10px 10px 0px;
  height: 20px;
}

.fa-minus-circle {
  margin-right: 10px;
}

section .fa-plus {
  padding-left: 10px;
  color: #a9a9a9;
  font-size: 14px;
  width: 18px;
}

.edit-mode .fa-lock {
  padding-left: 10px;
  color: #a9a9a9;
  font-size: 14px;
  width: 18px;
}

.edit-mode .delete-btn {
  display: block;
}

.edit-mode .todo-task-wrapper input[type="text"] {
  padding: 0px;
}

.edit-mode .delete-task-btn {
  display: block;
  visibility: visible;
  margin-left: 5px;
  padding-left: 2px;
}

.edit-mode .show-complete {
  display: none;
}

.edit-mode header.new-title {
  display: none;
}

.edit-mode input[type="checkbox"] {
  display: none;
}

.hide {
  display: none;
}

.list-header {
  font-size: 16px;
  padding: 10px;
  background: #FF7913;
  color: #fff;
  border: none;
  width: 100%;
}

.list-header:focus {
  outline: none;
}

.edit-mode .fa-minus-circle {
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}  

.edit-input {
  padding: 0px;
}

input[type="text"] {
  width: 100%;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
  padding: 0px;
  border: 0;
  outline: 0;
  background: transparent;
} 

input[type="text"]:focus {
  outline: none;
}

.todo-task-wrapper input[type="text"] {
  width: 85%;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

